* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  height: 100vh;
  margin: 0 auto;
  background-color: lightblue;
}

.top {
  background-color: lightblue;
  text-align: center;
  padding: 20px;
  height: 13%;
  box-sizing: content-box;
}

.top h1 {
  margin-bottom: 20px;
}

label,
.location-control {
  font-size: 20px;
}

.sidebar {
  float: left;
  width: 15%;
  height: 60%;
  padding: 20px 20px 0 20px;
  background-color: rgb(184, 169, 169);
  border: 2px solid blue;
  border-radius: 30px 30px 0 0;
  overflow-y: scroll;
}

.sidebar::-webkit-scrollbar {
  width: 0.2vw;
}

.sidebar::-webkit-scrollbar-thumb {
  margin-top: 20px;
  background-color: white;
}

.sidebar::-webkit-scrollbar-track {
  margin-top: 20px;
  background-color: darkslategray;
}

.marker-control {
  clear: left;
  background-color: lightslategrey;
  width: 15%;
  height: 10%;
  border-left: 2px solid blue;
  border-right: 2px solid blue;
  border-bottom: 2px solid blue;
  border-radius: 0 0 30px 30px;
}

#cancel-control {
  display: block;
}

#map {
  float: right;
  height: 70%;
  width: 55%;
  border-radius: 20px;
}

.notes-area {
  float: right;
  height: 70%;
  width: 30%;
  border-radius: 20px;
  background-color: white;
}
